@use "../../styles/mixins" as *;

p {
  margin: 0;
}

html,
body {
  height: 100%; // needed as a baseline
  overflow-y: auto; // mobile: allow scrolling

  @include respond-to(desktop) {
    overflow: hidden; // tablet+: lock it
  }
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/fonts/proximanova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova Light";
  src: url("../../assets/fonts/proximanova_light.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tan Angleton";
  src: url("../../assets/fonts/TAN-Angleton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.details {
  // background-color: #ecece2;
  width: 100vw;
  align-items: center;
  justify-content: center;
  // min-height: 100vh;
  height: auto;

  @include respond-to(desktop) {
    padding: 4rem 9rem;
  }

  &__container {
    padding: 4rem 2rem 0rem;
    background-color: #ecece2;

    @include respond-to(tablet) {
      padding: 6rem 3rem 0 3rem;
      width: 75vh;
    }

    @include respond-to(desktop) {
      padding: 6rem 3rem 0 3rem;
      min-width: 60vw;
      max-width: 70vw;
    }
  }

  &__title {
    font-family: "Tan Angleton";
    color: #6a6754;
    font-size: 1.2em;
    padding-bottom: 1rem;

    @include respond-to(tablet) {
      font-size: 1.7em;
    }

    @include respond-to(desktop) {
      font-size: 1.8em;
      padding-bottom: 1.5rem;
    }
  }

  &__caption {
    font-family: "Proxima Nova";
    color: #6a6754;
  }

  &__section {
    padding-top: 1.5rem;
  }

  &__when,
  &__where,
  &__address,
  &__parking,
  &__dress {
    padding-bottom: 2rem;
  }

  &__subtitle {
    font-family: "Tan Angleton";
    font-size: 0.7em;
    color: #6a6754;
    letter-spacing: 0.5px;

    @include respond-to(tablet) {
      text-align: left; // aligns labels cleanly
    }
  }

  &__description {
    font-family: "Proxima Nova Light";
    font-size: 1em;
    color: #6a6754;
    text-align: left;
    line-height: 20px;

    &--small {
      font-family: "Proxima Nova Light";
      font-size: 0.9em;
      color: #6a6754;
      line-height: 16px;
    }
  }

  &__row {
    display: grid;
    grid-template-columns: 1fr; // mobile: stack
    gap: 0.2rem;
    padding-bottom: 2rem;

    @include respond-to(tablet) {
      grid-template-columns: 120px 1fr; // side-by-side
      gap: 2rem;
    }

    @include respond-to(desktop) {
      grid-template-columns: 150px 1fr; // more breathing room
    }
  }

  &__button {
    background-color: #787351;
    border: #787351;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    color: white;
    font-family: "Tan Angleton";
    font-size: 0.7em;
  }

  &__cover {
    padding-top: 3rem;
    line-height: 0;
    display: flex;
    justify-content: flex-start;

    &--photo {
      width: 100%;
      border-top-left-radius: 5px;
      opacity: 0.75;
      display: block;
      margin-left: 2rem;
    }
  }
}

.info {
  padding: 4rem 2rem 0rem;

  @include respond-to(tablet) {
    padding: 6rem 3rem 0 3rem;
    width: 75vh;
  }

  @include respond-to(desktop) {
    padding: 6rem 3rem 0 3rem;
    min-width: 60vw;
    max-width: 70vw;
  }

  &__title {
    font-family: "Tan Angleton";
    color: #6a6754;
    font-size: 1.2em;
    padding-bottom: 2rem;
    text-align: center;

    @include respond-to(tablet) {
      font-size: 1.7em;
    }

    @include respond-to(desktop) {
      font-size: 1.8em;
      padding-bottom: 1.5rem;
    }
  }

  &__container {
    padding-bottom: 2rem;

    &--indent {
      padding-left: 2.2rem;
    }
  }

  &__subtitle {
    font-family: "Tan Angleton";
    color: #6a6754;
    font-size: 1em;
    padding-bottom: 0.2rem;

    @include respond-to(tablet) {
      font-size: 1.5em;
    }

    @include respond-to(desktop) {
      font-size: 1.7em;
      padding-bottom: 1.5rem;
    }
  }

  &__time {
    font-family: "Proxima Nova Light";
    font-size: 1.1em;
    color: #6a6754;
    padding-bottom: 0.2rem;
  }

  &__description {
    font-family: "Proxima Nova Light";
    font-size: 1em;
    color: #6a6754;
    line-height: 20px;
  }
}
