@use "../../styles/mixins" as *;

p {
  margin: 0;
}

@font-face {
  font-family: "Biro Script";
  src: url("../../assets/fonts/Biro_Script_reduced.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Tan Angleton";
  src: url("../../assets/fonts/TAN-Angleton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.ty {
  background: url("/images/tyIMG.JPG.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  opacity: 0.75;
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-height: 100vh;
  height: auto;

  @include respond-to(tablet) {
    overflow: hidden;
  }

  &__container {
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    border-radius: 5px;
    border: 2px solid #6a6754;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    margin: 2.5rem 1rem;
    max-width: 900px;

    @include respond-to(tablet) {
      max-width: 1500px;
      margin: 4.5rem 2rem;
      padding: 3rem 2rem;
    }

    @include respond-to(desktop) {
      max-width: 2000px;
      margin: 4rem 5rem;
      padding: 4rem 4rem;
    }
  }

  &__box {
    font-family: "Biro Script";
    padding-top: 1rem;
    color: #6a6754;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;

    @include respond-to(desktop) {
      padding-top: 1rem;
    }
  }

  &__ff {
    text-align: left;
    font-size: 1.2em;
    padding-bottom: 1rem;

    @include respond-to(tablet) {
      font-size: 1.5em;
    }

    @include respond-to(desktop) {
      font-size: 1.7em;
    }
  }

  &__note {
    text-align: left;
    font-size: 1.2em;
    line-height: 1.4;

    @include respond-to(tablet) {
      font-size: 1.5em;
      line-height: 1.5;
    }

    @include respond-to(desktop) {
      font-size: 1.6em;
      line-height: 1.5;
    }
  }

  &__names {
    text-align: right;
    font-size: 1.3em;
    line-height: 1.4;
    padding-top: 1rem;

    @include respond-to(tablet) {
      font-size: 1.5em;
      margin: 0;
    }

    @include respond-to(desktop) {
      font-size: 1.7em;
      margin: 0;
    }
  }
}
