@use "../../styles/mixins" as *;

body,
html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: "Tan Angleton";
  src: url("../../assets/fonts/TAN-Angleton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.std {
  font-family: "Tan Angleton", serif;
  background: url("../../assets/images/saveTheDateImg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100%;
  height: 100vh;
  opacity: 0.75;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;

  &__container {
    height: 95vh;
    width: 90vw;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    @include respond-to(tablet) {
      height: 85vh;
      width: 80vw;
      padding: 3% 0;
    }

    @include respond-to(desktop) {
      height: 85vh;
      padding-bottom: 2%;
    }
  }

  &__hero,
  &__sc,
  &__location-time {
    z-index: 3;
    text-align: center;
  }

  &__hero {
    font-size: 2rem;
    letter-spacing: 1px;
    line-height: 1.5;

    @include respond-to(tablet) {
      font-size: 2.7rem;
    }

    @include respond-to(desktop) {
      font-size: clamp(16px, 4.5vw, 70px);
      padding-top: 5%;
    }

    &--break {
      @include respond-to(desktop) {
        display: none;
      }
    }
  }

  &__sc {
    padding-bottom: 60%;

    @include respond-to(tablet) {
      padding-top: 10%;
      padding-bottom: 30%;
    }

    @include respond-to(desktop) {
      padding-bottom: 0;
      padding-top: 5%;
    }
  }

  &__names {
    font-size: 1.3rem;
    line-height: 1.5;

    @include respond-to(tablet) {
      font-size: 1.6rem;
    }

    @include respond-to(desktop) {
      font-size: clamp(16px, 2.5vw, 38px);
      line-height: 1.5;
    }
  }

  &__announcement {
    font-size: 1.1rem;

    @include respond-to(tablet) {
      font-size: 1.3rem;
    }

    @include respond-to(desktop) {
      font-size: clamp(16px, 2.5vw, 38px);
    }
  }

  &__location-time {
    line-height: 1.6;
    font-size: 0.95rem;

    @include respond-to(tablet) {
      font-size: 1.1rem;
      line-height: 1.8;
    }

    @include respond-to(desktop) {
      font-size: clamp(16px, 2vw, 26px);
      padding-top: 10%;
      line-height: 1.8;
    }
  }
}
