@use "../../styles/mixins" as *;

p {
  margin: 0;
}

@font-face {
  font-family: "Tan Angleton";
  src: url("../../assets/fonts/TAN-Angleton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.std {
  font-family: "Tan Angleton", serif;
  background: url("../../assets/images/saveTheDateImg.jpg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  width: 100vw;
  height: 105vh;
  opacity: 0.75;
  padding: 5%;
  align-items: center;
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;

  @include respond-to(desktop) {
    height: 85vh;
    width: 90vw;
  }

  &__container {
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 2;
    border-radius: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 5%;

    @include respond-to(tablet) {
      height: 90vh;
      width: 80vw;
    }

    @include respond-to(desktop) {
      height: 75vh;
    }
  }

  &__hero,
  &__sc,
  &__location-time {
    z-index: 3;
    text-align: center;
  }

  &__hero {
    font-size: 2.5rem;
    letter-spacing: 1px;
    line-height: 1.5;

    @include respond-to(tablet) {
      font-size: 2.7rem;
    }

    @include respond-to(desktop) {
      font-size: 4rem;
    }
  }

  &__sc {
    padding-bottom: 60%;

    @include respond-to(tablet) {
      padding-top: 10%;
      padding-bottom: 30%;
    }

    @include respond-to(desktop) {
      padding-bottom: 0;
      padding-top: 10%;
    }
  }

  &__names {
    font-size: 1.5rem;
    line-height: 1.5;

    @include respond-to(tablet) {
      font-size: 1.8rem;
    }

    @include respond-to(desktop) {
      font-size: 2rem;
      line-height: 1.5;
    }
  }

  &__announcement {
    font-size: 1.2rem;

    @include respond-to(tablet) {
      font-size: 1.5rem;
    }

    @include respond-to(desktop) {
      font-size: 2rem;
    }
  }

  &__location-time {
    line-height: 1.5;
    font-size: 0.95rem;

    @include respond-to(tablet) {
      font-size: 1.2rem;
      line-height: 1.8;
    }

    @include respond-to(desktop) {
      font-size: 1.5rem;
      padding-top: 10%;
      line-height: 1.8;
    }
  }
}
