@use '../../styles/mixins' as *;

p {
    margin: 0;
}

@font-face {
  font-family: 'Biro Script';
  src: url('../../assets/fonts/Biro_Script_reduced.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tan Angleton';
  src: url('../../assets/fonts/TAN-Angleton-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.home {
  background: url('../../assets/images/hero.JPG');
  background-size: cover;
  background-position: 25% center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  opacity: 0.75;

  &__welcome {
  font-family: 'Biro Script';
  display: flex;
  justify-content: center;
  align-items: flex-start;
  text-align: center;  
  padding-top: 3rem;
  color: #6A6754;
  font-size: 1.5rem;

  @include respond-to(tablet) {
    padding-top: 4rem;
  }

  @include respond-to(desktop) {
    padding-top: 4rem;
  }
  }

&__sc {
    font-family: 'Tan Angleton';
    color: white;
    justify-content: center;
    align-items: flex-start;
    text-align: center;  
    padding-top: 16rem;

    @include respond-to(tablet) {
        padding-top: 15rem;
    }

    @include respond-to(desktop) {
        padding-top: 15.5rem;
    }
  }

  &__names {
    font-size: 1.5rem;
    line-height: 1.6;

    @include respond-to(tablet) {
        font-size: 1.9rem;
    }

    @include respond-to(desktop) {
        font-size: 1.9rem;
        line-height: 1.5;
    }

  }

  &__announcement {
    font-size: 0.9rem;

    @include respond-to(tablet) {
    font-size: 1.2rem;
    }

    @include respond-to(desktop) {
    font-size: 1.2rem;
    }
  }


&__location-time {
    font-family: 'Tan Angleton';
    color: white;
    justify-content: center;
    align-items: flex-end;
    text-align: center;  
    padding-top: 18rem;
    font-size: 0.8rem;

    @include respond-to(tablet) {
        font-size: 1rem;
        padding-top: 17rem;
    }

    @include respond-to(desktop) {
        font-size: 1rem;
        padding-top: 16rem;
        line-height: 1.8;
    }
}
}




