@use "../../styles/mixins" as *;

p {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

input {
  background-color: #f2f2f2;
  border: none;
  border-radius: 5px;
  font-family: "Proxima Nova", Regular;
  padding: 5%;
  margin-top: 2%;
  font-size: 0.9rem;

  @include respond-to(tablet) {
    font-size: 1rem;
    padding: 3%;
  }

  @include respond-to(desktop) {
    font-size: 1.1rem;
    padding: 3%;
  }
}

@font-face {
  font-family: "Tan Angleton";
  src: url("../../assets/fonts/TAN-Angleton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/fonts/proximanova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.login {
  font-family: "Tan Angleton", Regular;
  height: 100vh;

  &__container {
    height: 100%;
    width: 100vw;
    opacity: 75%;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url("/images/loginIMG.jpg") no-repeat center top;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    border-radius: 0;

    @include respond-to(tablet) {
      background-position: center;
    }

    @include respond-to(desktop) {
      background-position: center;
    }
  }

  &__sc,
  &__location-time {
    z-index: 3;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.3;
  }

  &__sc {
    padding-top: 30%;
    color: white;

    @include respond-to(tablet) {
      padding-top: 15%;
    }

    @include respond-to(desktop) {
      padding-top: 8%;
    }
  }

  &__names {
    font-size: 1.4rem;
    padding-bottom: 3%;
    letter-spacing: 0;

    @include respond-to(tablet) {
      font-size: 2rem;
      padding-bottom: 1%;
      letter-spacing: 2px;
    }

    @include respond-to(desktop) {
      font-size: 2.2rem;
      padding-bottom: 1%;
    }
  }

  &__announcement {
    font-size: 0.9rem;

    @include respond-to(tablet) {
      font-size: 1.3rem;
    }

    @include respond-to(desktop) {
      font-size: 1.7rem;
    }
  }

  &__box {
    font-family: "Proxima Nova", Regular;
    background-color: white;
    padding: 15% 5%;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin-top: -550px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    color: #6a6754;
    min-height: 20vh;
    opacity: 85%;

    @include respond-to(tablet) {
      margin-top: -500px;
      // max-width: 500px;
      padding: 7%;
    }

    @include respond-to(desktop) {
      margin-top: -550px;
      max-width: 600px;
      padding: 4%;
    }

    &--info {
      @include respond-to(tablet) {
        padding: 0 10%;
      }
    }
  }

  &__heading &__description {
    color: #6a6754;
  }

  &__heading {
    padding-bottom: 3%;
    font-weight: 800;
    font-size: 1.2rem;

    @include respond-to(tablet) {
      font-size: 1.4rem;
      padding-bottom: 3%;
    }

    @include respond-to(desktop) {
      font-size: 1.5rem;
      padding-bottom: 2%;
    }
  }

  &__email {
    text-align: left;

    @include respond-to(tablet) {
      padding: 0 5%;
    }

    @include respond-to(desktop) {
      padding: 0 10%;
    }

    &--title {
      display: block;
      margin-bottom: 4px;
      font-size: 0.9rem;

      @include respond-to(tablet) {
        font-size: 1rem;
      }

      @include respond-to(desktop) {
        font-size: 1.1rem;
      }
    }
    &--heading {
      font-weight: 600;
      font-size: 1.2rem;
      flex-direction: column;
      display: flex;
      gap: 12px;
      color: #6a6754;
    }
  }

  &__description {
    font-size: 0.9rem;
    padding-bottom: 10%;

    @include respond-to(tablet) {
      font-size: 1rem;
    }

    @include respond-to(desktop) {
      font-size: 1.1rem;
      padding-bottom: 5%;
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 2% 0 8%;

    @include respond-to(tablet) {
      gap: 30px;
      padding-bottom: 4%;
    }

    @include respond-to(desktop) {
      gap: 40px;
      padding-bottom: 4%;
    }
  }

  &__submit {
    background-color: #6a6754;
    color: white;
    border: none;
    border-radius: 5px;
    font-family: "Proxima Nova", Regular;
    align-self: flex-start;
    width: fit-content;
    padding: 3% 5%;

    @include respond-to(tablet) {
      font-size: 1rem;
    }

    @include respond-to(desktop) {
      font-size: 1.1rem;
      padding: 2% 5%;
    }
  }

  &__contact {
    font-family: "Proxima Nova", Regular;
    color: #6a6754;
    font-size: 0.8rem;
    white-space: nowrap;

    @include respond-to(tablet) {
      font-size: 1rem;
    }

    @include respond-to(desktop) {
      font-size: 1.1rem;
    }
  }

  &__error {
    &--message {
      color: red;
      font-size: 0.85rem;
      line-height: 1.2;

      @include respond-to(tablet) {
        font-size: 0.9rem;
      }

      @include respond-to(desktop) {
        font-size: 1rem;
      }
    }
  }
}
