@use "../../styles/mixins" as *;

p {
  margin: 0;
}

body,
html {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "Tan Angleton";
  src: url("../../assets/fonts/TAN-Angleton-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Proxima Nova";
  src: url("../../assets/fonts/proximanova_regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.login {
  font-family: "Tan Angleton", Regular;
  // position: relative;

  @include respond-to(tablet) {
    height: 100vh;
  }

  &__container {
    height: 55vh;
    width: 100vw;
    opacity: 75%;
    background: url("../../assets/images/loginIMG.jpg") no-repeat center top;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    // z-index: 2;
    border-radius: 0 0 30px 30px;

    @include respond-to(tablet) {
      height: 90vh;
    }

    @include respond-to(desktop) {
      height: 90vh;
    }
  }

  &__sc,
  &__location-time {
    z-index: 3;
    text-align: center;
    letter-spacing: 1px;
    line-height: 1.3;
  }

  &__sc {
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 20%;
    width: 100vw;
    height: 47vh;
    border-radius: 0 0 30px 30px;
    color: white;

    @include respond-to(tablet) {
      padding-top: 10%;
      padding-bottom: 30%;
    }

    @include respond-to(desktop) {
      padding-bottom: 0;
    }
  }

  &__names {
    font-size: 1.5rem;
    line-height: 1.1;

    @include respond-to(tablet) {
      font-size: 2.5rem;
    }

    @include respond-to(desktop) {
      font-size: 3.5rem;
      line-height: 0.8;
    }
  }

  &__announcement {
    font-size: 1rem;

    @include respond-to(tablet) {
      font-size: 1.8rem;
    }

    @include respond-to(desktop) {
      font-size: 2.5rem;
    }
  }

  &__box {
    font-family: "Proxima Nova", Regular;
    background-color: white;
    padding: 10% 3%;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    max-width: 500px;
    text-align: center;
    margin-top: -50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
  }

  &__heading,
  &__description {
    color: #6a6754;
  }

  &__heading {
    font-weight: 600;
    padding-bottom: 2%;
    font-size: 1rem;
  }

  &__description {
    font-size: 0.8rem;
  }
}
